<a href="https://colab.research.google.com/github/JustinCruz4133/58013-LinearAlgebra/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Fundamentals

A. Variable and Data Types

In [5]:
x = 1
a, b = 0, -1

print(type(x))

y = 1.0
print(type(y))

x = float(x)
print(type(x))

s, t, u = "0", '1', 'one'
print(type(s))

s_int = int(s)
print(s_int)

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
0

B. Arithmetic Operation

In [7]:
a, b, c, d = 2.0, -0.5, 0, -32

### Addition
S = a + b
print(S)

### Subtraction
D = b - d
print(D)

### Multiplication
P = a * d
print(P)

### Division
Q = c / a
print(Q)

### Exponentiation
E = a ** b
print(E)

### Modulo
mod = d % a
print(mod)

1.5
31.5
-64.0
0.0
0.7071067811865476
0.0

C. Assignment Operations

In [8]:
G, H, J, K = 0, 100, 2, 2

G += a
print(G)

H -= d
print(H)

J *= 2
print(J)

K **= 2
print(K)

2.0
132
4
4

D. Comparators

In [11]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

## Equality
print(res_1 == true_val)

## Non-equality
print(res_2 != true_val)

## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
print(t1)
print(t2)
print(t3)
print(t4)

True
True
False
False
True
True

E. Logical

In [12]:
res_1 == true_val

print(res_1 is true_val)
print(res_1 is not true_val)

p, q = True, False
conj = p and q
print(conj)

p, q = True, False
disj = p or q
print(disj)


p, q = True, False
nand = not(p and q)
print(nand)

p, q = True, False
xor = (not p and q) or (p and not q)
print(xor)

False
True
False
True
True
True

F. Input and Output Operations

In [1]:
print("Hello World")

cnt = 1

string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1

print(f"{string}, Current count is: {cnt}")

sem_grade = 82.243564657461234
name = ""
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

x = input("enter a number: ")
x

name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello World
Hello World , Current run count is: 1
Hello World, Current count is: 2
Hello , your semestral grade is: 82.24356465746123
The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.
enter a number: 25
Kimi no nawa: Justin
Enter prelim grade: 96
Enter midterm grade: 96
Enter finals grade: 98
Hello Justin, your semestral grade is: None

G. Looping Statements

In [2]:
## while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

# for(int i=0; i<10; i++){
# printf(i)
# }

i = 0
for i in range(10):
    print(i)

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10
0
1
2
3
4
5
6
7
8
9

H. Flow Control

In [3]:
###Condition Statements
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
     print("Yey")
elif(numeral1>numeral2):
     print("Hoho")
else:
     print("Aww")
print("Hip hip")

Yey
Hip hip

I. Functions

In [5]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
     print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
     print("Successfully deleted all users")