<a href="https://colab.research.google.com/github/JustinCruz4133/58013-LinearAlgebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [4]:
#This is a comment
print("Hello, World")

Hello, World

Python Variable

In [6]:
#Variables are containers for storing data values
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

b = "Sally" #This is a type of string

Casting

In [5]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [7]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single quotes'

In [8]:
#String variables can be declared either by using single or double quotes
y = "John"
y = 'John'

Case Sensitive

In [9]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [12]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [13]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [21]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [27]:
#Other way:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operation

In [26]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
sum

8

8

Assignment Operator

In [28]:
a, b, c = 0, -1, 6
c %= 3
c

0

Comparison & Logical Operator

In [29]:
a, b, c = 0, -1, 6
a > b and c > b

True

Identity Operator

In [31]:
# is and is not
a, b, c = 0, -1, 5
a is c

False

Bitwise Operators

In [35]:
a, b, c = 0, -1, 5
c >> 1

2